[build]
  command = "npm ci && npm run build"
  publish = "frontend/public"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"
  SECRETS_SCAN_OMIT_KEYS = "NODE_ENV,PORT"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["express"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200